.table__td {
  max-width: 20vw;

  &--ellipsis {
    display: inline-block;
    max-width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    max-height: 3.6em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

//.q-table {
//  &__container{
//    background: red !important;
//  }
//}
